<?xml version="1.0" encoding="utf-8"?>
<PlatformConfig>
  <ApplicationName>eHR</ApplicationName>
  <SQLLib>D:\gaia\PrimusMobileApp\SQLLib\</SQLLib>
  <PersistProxyLibPath>D:\gaia\PrimusMobileApp\PersistProxy\</PersistProxyLibPath>
  <ConnectionString>A043CED6379E11F46A95F5A1E7143878BB2F65CC8E800B0112064521D77DD8ED9B5D941F08DDB69FE7D3C3A2E40FCB86</ConnectionString>
  <DatabaseType>SQLSERVER</DatabaseType>
  <DefaultIsolationLevel>READ_UNCOMMITTED</DefaultIsolationLevel>
  <TransactionIsolationLevel>READ_UNCOMMITTED</TransactionIsolationLevel>
  <SupportGlobalization>ON</SupportGlobalization>
  <LicenseKey>
  </LicenseKey>
  <ModuleLicense>
  </ModuleLicense>
</PlatformConfig>